@model StockMVC.Models.Entity.TblProducts
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Product Name</label>
        <input type="text" class="form-control" name="ProductName" />
    </div>
    <div>
        <label>Product Brand</label>
        <input type="text" class="form-control" name="ProductBrand" />
    </div>
    <div>
        <label>Select Category</label>
        @Html.DropDownListFor(m=>m.TblCategories.CategoryID,(List<SelectListItem>)ViewBag.itemList,new {@class="form-control" })
    </div>
    <div>
        <label>Product Cost</label>
        <input type="text" class="form-control" name="ProductCost" />
    </div>
    <div>
        <label>Product Stock</label>
        <input type="text" class="form-control" name="ProductStock" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Product</button>
    </div>
</form>

