@using StockMVC.Models.Entity
@model List<TblCustomers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Customer Surname</th>
        <th>Customer Delete</th>
        <th>Customer Update</th>
    </tr>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <th>@customer.CustomerId</th>
            <td>@customer.CustomerName</td>
            <td>@customer.CustomerSurname</td>
            <td><a href="/Customer/Delete/@customer.CustomerId" class="btn btn-danger"></a></td>
            <td><a href="/Customer/Update/@customer.CustomerId" class="btn btn-sucess"></a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Customer/NewCustomer/" class="btn btn-primary">Add New Customer</a>

