
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Customer Name</label>
        <input type="text" class="form-control" name="Customer Name" />
    </div>
    <div>
        <label>Customer Surname</label>
        <input type="text" class="form-control" name="Customer Surname" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Customer</button>
    </div>
</form>

